# Attract Data

## Import Libraries:

In [1]:
import json
import pandas as pd

## Import Data:

In [2]:
business=[]
with open('business.json', encoding="utf8") as f:
    for line in f:
        business.append(json.loads(line))

reviews=[]
with open('review.json', encoding="utf8") as f:
    for line in f:
        reviews.append(json.loads(line))

In [26]:
business_df=pd.DataFrame.from_dict(business)

In [ ]:
reviews_df = pd.DataFrame.from_dict(reviews)

## Data Pre-processing and Exploration:

In [3]:
# Shape of data
print("business_df shape: ", business_df.shape, ", reviews_df shape: ", reviews_df.shape)

business_df shape:  (192609, 14) , reviews_df shape:  (6685900, 9)

In [4]:
#General view of business_df
business_df.head()

,business_id,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
0,1SWheh84yJXfytovILXOAQ,Arizona Biltmore Golf Club,2818 E Camino Acequia Drive,Phoenix,AZ,85016,33.522143,-112.018481,3.0,5,0,{'GoodForKids': 'False'},"Golf, Active Life",None
1,QXAEGFB4oINsVuTFxEYKFQ,Emerald Chinese Restaurant,30 Eglinton Avenue W,Mississauga,ON,L5R 3E7,43.605499,-79.652289,2.5,128,1,"{'RestaurantsReservations': 'True', 'GoodForMe...","Specialty Food, Restaurants, Dim Sum, Imported...","{'Monday': '9:0-0:0', 'Tuesday': '9:0-0:0', 'W..."
2,gnKjwL_1w79qoiV3IC_xQQ,Musashi Japanese Restaurant,"10110 Johnston Rd, Ste 15",Charlotte,NC,28210,35.092564,-80.859132,4.0,170,1,"{'GoodForKids': 'True', 'NoiseLevel': 'u'avera...","Sushi Bars, Restaurants, Japanese","{'Monday': '17:30-21:30', 'Wednesday': '17:30-..."
3,xvX2CttrVhyG2z1dFg_0xw,Farmers Insurance - Paul Lorenz,"15655 W Roosevelt St, Ste 237",Goodyear,AZ,85338,33.455613,-112.395596,5.0,3,1,None,"Insurance, Financial Services","{'Monday': '8:0-17:0', 'Tuesday': '8:0-17:0', ..."
4,HhyxOkGAM07SRYtlQ4wMFQ,Queen City Plumbing,"4209 Stuart Andrew Blvd, Ste F",Charlotte,NC,28217,35.190012,-80.887223,4.0,4,1,"{'BusinessAcceptsBitcoin': 'False', 'ByAppoint...","Plumbing, Shopping, Local Services, Home Servi...","{'Monday': '7:0-23:0', 'Tuesday': '7:0-23:0', ..."

In [5]:
#Data type in business_df
business_df.dtypes

business_id      object
name             object
address          object
city             object
state            object
postal_code      object
latitude        float64
longitude       float64
stars           float64
review_count      int64
is_open           int64
attributes       object
categories       object
hours            object
dtype: object

In [6]:
#General view of reviews_df
reviews_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [7]:
#Data type in reviews_df
reviews_df.dtypes

review_id       object
user_id         object
business_id     object
stars          float64
useful           int64
funny            int64
cool             int64
text            object
date            object
dtype: object

In [8]:
#check for null in business_df 
business_df.isnull().sum()

business_id         0
name                0
address             0
city                0
state               0
postal_code         0
latitude            0
longitude           0
stars               0
review_count        0
is_open             0
attributes      28836
categories        482
hours           44830
dtype: int64

In [9]:
#check for null in reviews_df 
reviews_df.isnull().sum()

review_id      0
user_id        0
business_id    0
stars          0
useful         0
funny          0
cool           0
text           0
date           0
dtype: int64

In [11]:
reviews_df.head()

,review_id,user_id,business_id,stars,useful,funny,cool,text,date
0,Q1sbwvVQXV2734tPgoKj4Q,hG7b0MtEbXx5QzbzE6C_VA,ujmEBvifdJM6h6RLv4wQIg,1.0,6,1,0,Total bill for this horrible service? Over $8G...,2013-05-07 04:34:36
1,GJXCdrto3ASJOqKeVWPi6Q,yXQM5uF2jS6es16SJzNHfg,NZnhc2sEQy3RmzKTZnqtwQ,5.0,0,0,0,I *adore* Travis at the Hard Rock's new Kelly ...,2017-01-14 21:30:33
2,2TzJjDVDEuAW6MR5Vuc1ug,n6-Gk65cPZL6Uz8qRm3NYw,WTqjgwHlXbSFevF32_DJVw,5.0,3,0,0,I have to say that this office really has it t...,2016-11-09 20:09:03
3,yi0R0Ugj_xUx_Nek0-_Qig,dacAIZ6fTM6mqwW5uxkskg,ikCg8xy5JIg_NGPx-MSIDA,5.0,0,0,0,Went in for a lunch. Steak sandwich was delici...,2018-01-09 20:56:38
4,11a8sVPMUFtaC7_ABRkmtw,ssoyf2_x0EQMed6fgHeMyQ,b1b1eb3uo-w561D0ZfCEiQ,1.0,7,0,0,Today was my second out of three sessions I ha...,2018-01-30 23:07:38

In [12]:
#group review by business_id
review_group_by = reviews_df.groupby('business_id')['text'].sum()

In [14]:
review_group_by.head()

business_id
--1UhMGODdWsrMastO9DZw    If you are looking for authentic Mexican stree...
--6MefnULPED_I942VcFNA    They have the best Chinese BBQ Pork (Char Siu)...
--7zmmkVg-IMGaXbuVd0SQ    I'm a tad reluctant to write a review as I run...
--8LPVSo5i0Oo61X01sV9A    Dr. LaCognata is great.  He is a great listene...
--9QQLMTbFzLJ_oT-ON3Xw    Always great customer service. Affordable hair...
Name: text, dtype: object

In [15]:
review_group_by.shape

(192606,)

In [16]:
#renaming the columns business_id for index and all_reviews for all aggregated reviews
prepare_review_merge = pd.DataFrame({'business_id':review_group_by.index,
                                     'all_reviews':review_group_by.values})

In [28]:
#merge review and business df by business id
review_business = pd.merge(prepare_review_merge,
                           business_df,
                           on='business_id',
                           how='left')

In [36]:
#shape of merged df
review_business.shape

(192606, 15)

In [37]:
review_business = review_business.loc[business_df['categories'].str.contains(
    'Restaurants',
    case=True,
    na=False)]

In [40]:
#Since the data is big, I only take 20% of the data from the review_business to work with to model faster. I will
#test first to see what model will be the most accurate then will do will full data.
review_business_sample = review_business.sample(frac = .20, random_state = 42)

In [41]:
#shaped of sample df
print(review_business_sample.shape)

(11874, 15)

In [42]:
#General view of review_business_sample
review_business_sample.head(5)

,business_id,all_reviews,name,address,city,state,postal_code,latitude,longitude,stars,review_count,is_open,attributes,categories,hours
67682,LS5s5ySFVJzqqvnbyOSEvg,I've only had the chance to go there once or t...,Empty Nest,14423 Detroit Ave,Lakewood,OH,44107,41.485208,-81.795464,4.0,5,1,"{'ByAppointmentOnly': 'False', 'RestaurantsPri...","Antiques, Home & Garden, Shopping, Furniture S...","{'Monday': '11:0-18:0', 'Tuesday': '11:0-18:0'..."
56469,HiCNLB9cCWVHnbzHeN2daA,All I ask for in a Chicago style thin crust is...,Aurelio's Pizza,"7660 W Cheyenne Ave, Ste 122",Las Vegas,NV,89129,36.218453,-115.262710,3.5,18,0,"{'BusinessParking': '{'garage': False, 'street...","Italian, Pizza, Restaurants","{'Monday': '11:0-21:0', 'Tuesday': '11:0-21:0'..."
120608,c-j9MfyxwxPMq5M2lVJcIw,Fab falafal! I found the experience here so ov...,Paramount Middle Eastern Kitchen,1290 Crestlawn Drive,Mississauga,ON,L4W 1A6,43.631678,-79.620075,3.5,145,1,"{'WiFi': 'u'no'', 'OutdoorSeating': 'True', 'R...","Mediterranean, Halal, Restaurants, Middle Eastern","{'Monday': '8:0-22:0', 'Tuesday': '8:0-22:0', ..."
88792,ST-IVOkIRq-DAyTD0e9DKw,The restaurant is now a pizza joint. I called...,Manila Sunshine Restaurant,1428 E Charleston Blvd,Las Vegas,NV,89104,36.158466,-115.134268,3.5,3,1,"{'HasTV': 'True', 'RestaurantsTakeOut': 'True'...","Restaurants, Filipino",None
52285,GL-I6Vj7pAF8dCY2Q0-nfQ,Sorry Dairy Queen. I visited this location whe...,Dairy Queen,1919 Southland Drive SW,Calgary,AB,T2W 0K1,50.960884,-114.105825,1.5,6,1,"{'RestaurantsPriceRange2': '1', 'RestaurantsGo...","Ice Cream & Frozen Yogurt, Food, Restaurants, ...",None

In [43]:
review_business_sample = review_business_sample[['all_reviews',
                                                 'review_count',
                                                 'stars']]

In [44]:
review_business_sample.shape

(11874, 3)

In [45]:
review_business_sample.head()

                                              all_reviews  review_count  stars
67682   I've only had the chance to go there once or t...             5    4.0
56469   All I ask for in a Chicago style thin crust is...            18    3.5
120608  Fab falafal! I found the experience here so ov...           145    3.5
88792   The restaurant is now a pizza joint.  I called...             3    3.5
52285   Sorry Dairy Queen. I visited this location whe...             6    1.5

In [46]:
#Save to csv so next time don't have to do the above cell.
review_business_sample.to_csv("yelp_reviews_restaurants_clean.csv", index=False)